In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('datasets/algebra_2008_2009/algebra_2008_2009_train.txt', sep='\t')

In [6]:
data.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Correct First Attempt,Incorrects,Hints,Corrects,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules)
0,1,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R2C1,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,...,0,3,1,1,Identifying units,1,NaN,NaN,UNIT-HELP,1
1,2,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R3C1,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,...,1,0,0,1,Define Variable,1,NaN,NaN,VARIABLE-HELP,1
2,3,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R3C2,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,...,1,0,0,1,"Write expression, any form~~Using simple numbe...",1~~1~~1~~1~~1~~1,Using simple numbers-1~~Using large numbers-1~...,1~~1~~1,STANDARD-MX+B-FORMULA-HELP,1
3,4,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R4C1,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,...,1,1,0,1,"Entering a given~~Enter given, reading words~~...",1~~1~~1,Entering a given-1,1,GIVEN-HELP-NON-NUMERIC-PHRASE,1
4,5,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R4C2,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,...,1,0,0,1,"Using simple numbers~~Find Y, any form~~Using ...",2~~1~~2~~1,Using simple numbers-1~~Using large numbers-1~...,2~~2~~1,CALCULATED-VALUE-HELP-MX+B-GIVEN-X-ZERO,1